@import url("https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,400;0,600;1,500&display=swap");

$bitter: "Bitter";

$verydark: #03045e;
$dark: #0077b6;
$blue: #00b4d8;
$light: #90e0ef;
$verylight: #caf0f8;

// $main-font-family: "f25_executive";

// @font-face {
//   font-family: "f25_executive";
//   src: url("fonts/f25_executive.otf");
//   font-weight: normal;
//   font-style: normal;
//   font-size: 32pt;
// }
