@import "colorsfonts.scss";

body {
  height: 100%;
  background-color: $verylight;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  height: 100%;
  background-color: #00b4d8;
}
