@import "colorsFonts";

html {
  font: $bitter;
}
th,
td {
  border: 1px solid $verydark;
  background-color: $verylight;
}

.scorecol {
  text-align: center;
  font-family: $bitter;
  font-size: 12pt;
  background-color: $light;
  border-style: solid;
  border-width: 2px;
  border-color: $verydark;
}

.row {
  justify-content: left;
}

.mode {
  color: $verydark;
  font-weight: bold;
  font-family: $bitter;
}
.highscores {
  color: $dark;
  font-weight: bold;
}

.tabletype {
  color: $verydark;
  font-weight: norma;
  font-style: italic;
  font-stretch: expanded;
}
.timer {
  margin: auto;
  width: 25%;
  border-style: solid;
  border-width: 2px;
  border-color: $verydark;
  text-align: center;
  justify-content: center;
  padding: 20px 20px;
}

.time-string-container {
  margin: auto;
  width: 25%;
}

.type-checker-container {
  width: 100%;
}
